[toolchain]
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
panda_battle = "2U6NvgpGn779fBKMziM88UxQqWwstTgQm4LLHyt7JqyG"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
# test = "pnpm exec ts-mocha -p ./tsconfig.json -t 1000000 tests/admin.test.ts"
# test = "pnpm exec ts-mocha -p ./tsconfig.json -t 1000000 tests/player.test.ts"
# test = "pnpm exec ts-mocha -p ./tsconfig.json -t 1000000 tests/crank.test.ts"
test = "pnpm exec ts-mocha -p ./tsconfig.json -t 1000000 tests/index.test.ts"
