[toolchain]
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
panda_battle = "H7UJumnqZJjHNcmfTjcnM3vyz23g4DNNZbh5upWF6ECP"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "pnpm exec ts-mocha -p ./tsconfig.json -t 1000000 tests/admin.test.ts"
# test = "pnpm exec ts-mocha -p ./tsconfig.json -t 1000000 tests/player.test.ts"
